*, ::before, ::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
}

.body {
    background-color: #f6f9ff;
}

.container {
    background-color: #f6f9ff;
    padding: 0 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ECECFF;
    box-shadow: 1px 4px 8px rgba(236, 236, 255, 0.5);
    width: 100%;
    padding: 0 100px;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
}

.menu a {
    color: #000;
}

.menu a:hover {
    text-decoration: underline;
}

.section-one {
    border: 1px solid #f6f9ff;
    padding-top: 15px;
}

.section-one_top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f6f9ff;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(156, 156, 254, 0.2);
}

.section-one_title {
    font-size: 50px;
    margin: 20px 20px 30px;
}

.section-one p:not(:last-child) {
    max-width: 460px;
    border-bottom: 1px solid #ECECFF;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-left: 40px;
    font-size: 20px;
}

.section-one_button {
    max-width: 210px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 211px;
    height: 41px;
    border-radius: 5px;
    background-color: rgb(0, 227, 0);
    color: #fff;
    font-size: 20px;
}

.section-one_button:hover {
    cursor: pointer;
    background-color: rgb(0, 128, 0);
    transition: 0.3s;
}

.section-one_links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: stretch;
    align-items: center;
    background-color: #fff;
    margin-top: 30px;
    border: 1px solid #ECECFF;
}

.section-one_links a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ECECFF;
    color: #000;
}

.section-one_links img {
    width: 29px;
    height: 29px;
}

.section-one_links a:hover {
    border: 1px solid #d1d1fb;
    transition: 0.3s;
}

.section-two-title {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 50px;
}

.section-two-buttons {
    margin-top: 40px;
}

.tabs {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.tab-button {
    width: 110px;
    height: 40px;
    border: 1px solid rgb(59, 59, 255);
    border-radius: 5px;
    background-color: #fff;
    color: rgb(59, 59, 255);
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-button:hover {
    background-color: rgb(59, 59, 255);
    color: #FFF;
    transition: 0.3s;
}

.tab-button.active {
    background-color: rgb(59, 59, 255);
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-one {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #f6f9ff;
    box-shadow: 0 5px 7px 2px rgba(156, 156, 254, 0.2);
    border-radius: 5px;
    max-width: 390px;
    font-size: 15px;
}

.card-one-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-one img {
    width: 75px;
    height: 48px;
}

.card-one-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4f0ff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    color: rgb(59, 59, 255);
}

.card-description {
    display: grid;
    justify-content: space-between;
    align-items: center;
}

.cards_button {
    width: 258px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: rgb(0, 227, 0);
    font-size: 17px;
    color: #fff;
}

.cards_button:hover {
    cursor: pointer;
    background-color: rgb(0, 128, 0);
    transition: 0.3s;
}

.cards-one-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-one-button {
    border-radius: 5px;
    background-color: rgb(49, 49, 255);
    color: #fff;
    font-size: 20px;
    width: 181px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}